<!-- SEARCH NAVBAR -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-custom">
    <a class="navbar-brand ml-3" id="navLogo" href="/">GarageFind
        <span class="tradeMark">TM</span>
    </a>
    <div class="container mx-auto">
        <div class="input-group" id="navSearchBar">
            <input type="text" class="form-control" id="srchtxt" placeholder="City/ State/ Zip-Code">
            <div class="input-group-append">
                <button class="btn btn-outline-light pl-5 pr-5" id="searchBtn" type="button">FIND</button>
            </div>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-3" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/find/MN/Minneapolis">Find
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item pr-1 pl-4">
                <a class="nav-link" href="/sell">Sell</a>
            </li>
            <li class="nav-item pr-1 pl-4">
                <a class="nav-link" href="/mylistings">My listings</a>
            </li>
        </ul>
    </div>
</nav>

<!-- LISTING IMG JUMBO -->
<div class="jumbotron jumbotron-fluid" id="listingImgJumbo">
</div>

<!-- LISTING CONTENT -->
<div class="container">

    <div class="row m-0 p-0">
        <div class="col-md-12 text-center mt-5 mb-4">
            <p class="h4">
                <img src="/img/glyphicons-66-tag.png">
                <span id="listingAddress">{{sale.address}}, {{sale.city}} {{sale.state}} {{sale.zip}}</span>
            </p>
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-md-6 m-0 p-0 text-center">
            <img id="listingHouseImg" src="{{ sale.photo_url }}">
        </div>
        <div class="col-md-6 m-0 p-0 text-center">
            {{!--
            <img id="listingMapImg" src="/img/listing_map.jpg"> --}}
            <div id="map" style="width: 100%; height: 320px;">
            </div>
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-md-12 m-0 p-5 text-left listingCol">
            <h5 class="listingInfo">NAME:</h5>
            <p class="ml-4 listingInfoContent">John Smith</p>
            <h5 class="listingInfo">ADDRESS:</h5>
            <p class="ml-4 listingInfoContent">{{sale.address}}, {{sale.city}} {{sale.state}} {{sale.zip}}</p>
            <h5 class="listingInfo">DATE:</h5>
            <p class="ml-4 listingInfoContent">{{sale.fmtdate1}}</p>
            <h5 class="listingInfo">TIME:</h5>
            <p class="ml-4 listingInfoContent">{{sale.fmtsttime1}} - {{sale.fmtendtime1}}</p>
            <h5 class="listingInfo">ITEMS SELLING:</h5>
            <p class="ml-4 listingInfoContent">
                {{#each sale.items}}
                <a>{{this.category_name}}; </a>
                {{/each}}
            </p>
            <h5 class="listingInfo">COMMENTS:</h5>
            <p class="ml-4 listingInfoContent">{{sale.comments}}</p>
        </div>
    </div>

</div>
{{#each geocds}}
<div class="geocds" lat="{{this.lat}}" lng="{{this.lng}}" addr="{{this.cmpaddress}}"></div>
{{/each}}

<script src="/js/googlemap.js"></script>